* {
    box-sizing: border-box;
    cursor:url("fail-cursor.png"),default;
}
body {
    margin: 0;
    height: 100vh;
    font-size: 26px;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.808);
}
video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
}
h1{
 color: #ffffff;
}
li{
    color: #ffffff;
}
a:link, a:visited {
    color: #f3f3f3;
  }
a:hover, a:active {
    background-color: #ffffff;
    color: #17234b;
  }
summary{
    color: #ffffff;
}
p{
    color: #ffffff;
}