* {
    box-sizing: border-box;
    cursor:url("info/cursur5.png"),default;
}
body {
    margin: 0;
    height: 100vh;
    font-size: 26px;
    background-image: url(info/hello.png);
    background-attachment: fixed;
    color: #ffffff;                  
}
h1{
 color: #ffffff;
}
li{
    color: #ffffff;
}
a:link, a:visited {
    color: #f3f3f3;
  }
a:hover, a:active {
    background-color: #ffffff;
    color: #17234b;
  }
summary{
    color: #ffffff;
}