* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    font-size: 26px;
    background-color: #160a14;
  }
  .body1 {
    background-color: #160a14;
  }
  .content {
    width: 100%;
    height: 700px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin :10px;
  }
  .split {
    width:100%;
    height:100%;
    padding: 30px;
    border: 1px solid;
  }
  .a {
    background: url("img/f1.png");
    background-attachment: fixed;
  }
  .b {
    background: url("img/f2.png");
    background-attachment: fixed;
  }
  .gutter {
    cursor: e-resize;
    height: 100%;
    background-image: linear-gradient(0deg,#17434b 10%,#3e2137 80%);
  }
  h1{
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #e2b330;
}
p{
    color: #e2b330;
    text-align:center;
}
h2{ 
text-align: right;
color: #e2b330;
}
P.fig {
text-align: right; 
}
span{
  color: #e2b330;
  text-align: center;
}
.image-frame {
  background-image: linear-gradient(0deg,#17434b 10%,#1f0e1c 80%);
  width: auto; 
  margin: 20px;
  border: 4px solid #331b2e;
  padding: 10px;
  text-align: center;
}
.container-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: normal;
}
div {
  border: 2px solid #e2b330;
  padding: 5px;
  width: 600px;
  float: left;
 margin-left: auto;
 margin-right: auto;
}
.content {
  border:4px solid #e2b330;
}
.ss {
  border: 2px solid #e2b330;
  height: 470px;
  padding: 5px;
  width: 600px;
  float: left;
  margin-bottom: 20px;
  background-image: linear-gradient(0deg,#174b44,#1f0e1c 90%);
}
a:link, a:visited {
  background-color: #17434b;
  color: #e2b330;
  padding: 14px 25px;
  text-align: center;
  text-decoration:wavy;
  display: inline-block;
}
a:hover, a:active {
  background-color: #e2b330;
  color: #17434b;
}
.visota{
  height: 500px;
}
summary{
  color: #e2b330;
  text-align: left;
}